<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href=".././static/css/login.css">
    <title>비밀번호 찾기</title>
</head>
<body>
<form class="pure-form">
    <fieldset class="loginForm">
        <legend>비밀번호 찾기</legend>
        <p><input type="password" placeholder="Password" id="password" required></p>
        <p><input type="password" placeholder="Confirm Password" id="confirm_password" required></p>
        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>


</form>


<style>
    .loginForm{
        text-align: center;
    }
</style>

<script>
    var password = document.getElementById("password")
  ,confirm_password = document.getElementById("confirm_password");

function datePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  }
  else {
    confirm_password.setCustomValidity('Passwords Do Match');
  }
}
password.onchange = datePassword;
confirm_password.onkeyup = datePassword;

</script>

</body>
</html>